.navbar-top {
	border-bottom-color: #777777;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 20px;
}

.navbar-mid {
	border-top-color: #777777;
	border-top-style: solid;
	border-top-width: 2px;
}

.card {
	margin: 5px;
}

.card-img-top {
	width: 100px;
	height: 100px;
}

.card-body {
	padding: 2px;
}

.card-continue {
	width: 100%;
}

.btn-add {
	margin-right: 10px;
	float: right;
}

#new-story-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  position: relative;
  float: left;
  left: 50%;
}

.btn-start {
	position: relative;
	text-align: center;

}

.thumb {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.new-story-section {
	margin-bottom: 20px;
	align-self: center;
}

.add-to-story {
	alight: right;
}

.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap; 
  align-items: stretch;
}
.card-deck .card {
  display: block;
  flex-basis: 20%; /* change this value for each breakpoint*/
}

.add-pad {
	margin: 20px;
}

.image-upload > input
{
    display: none;
}


